[submodule "libgit2"]
	path = libgit2
	url = git://github.com/libgit2/libgit2.git
[submodule "Scripts/libgit2-make-ios"]
	path = Scripts/libgit2-make-ios
	url = https://github.com/Eonil/libgit2-make-ios.git
