.DS_Store
*.swp
*~.nib

build/*
.build/*
build-iPhoneSimulator/*
build-iPhoneOS/*
objective-git.bridgesupport
ObjectiveGitFramework/build/*
ObjectiveGit-iOS.framework/*
libgit2*.a

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

project.xcworkspace
*/xcuserdata/

ObjectiveGitTests/fixtures/Fixtures/*
