.DS_Store
*.swp
*~.nib

build/*
.build/*
build-iPhoneSimulator/*
build-iPhoneOS/*
objective-git.bridgesupport
ObjectiveGitFramework/build/*
ObjectiveGit-iOS.framework/*
External/libgit2*.a
External/libgit2-ios

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

project.xcworkspace
*/xcuserdata/
*.xccheckout

ObjectiveGitTests/fixtures/Fixtures/*

External/ios-openssl/include
External/ios-openssl/lib

External/libssh2-ios
